In [31]:
import pandas as pd

In [32]:
train=pd.read_csv('train.csv')

In [33]:
train['portfolio_id'].value_counts()

PF00007368    1
PF00008854    1
PF00002132    1
PF00001193    1
PF00011566    1
PF00010021    1
PF00008563    1
PF00003876    1
PF00003430    1
PF00004285    1
PF00003636    1
PF00009769    1
PF00013610    1
PF00011402    1
PF00005767    1
PF00009085    1
PF00004969    1
PF00015185    1
PF00008979    1
PF00004299    1
PF00006059    1
PF00015090    1
PF00002363    1
PF00007149    1
PF00013471    1
PF00015481    1
PF00005217    1
PF00009117    1
PF00012970    1
PF00009213    1
             ..
PF00002425    1
PF00010436    1
PF00012137    1
PF00004761    1
PF00014858    1
PF00003942    1
PF00004887    1
PF00002667    1
PF00009561    1
PF00013409    1
PF00006305    1
PF00003823    1
PF00012146    1
PF00008084    1
PF00011705    1
PF00012862    1
PF00001315    1
PF00009182    1
PF00009459    1
PF00007172    1
PF00003351    1
PF00015306    1
PF00002859    1
PF00014694    1
PF00014045    1
PF00013064    1
PF00014878    1
PF00006438    1
PF00008458    1
PF00013305    1
Name: portfolio_id, Length: 9366, dtype: int64

In [34]:
train['desk_id'].value_counts()

DSK00006011    10
DSK00005869    10
DSK00005754     9
DSK00005718     9
DSK00005951     9
DSK00005724     9
DSK00005895     9
DSK00005905     8
DSK00006030     8
DSK00005789     8
DSK00005727     8
DSK00005810     7
DSK00005739     7
DSK00005568     7
DSK00005900     7
DSK00005943     7
DSK00005469     7
DSK00005715     7
DSK00005733     7
DSK00005803     7
DSK00005468     7
DSK00005637     7
DSK00006026     7
DSK00005975     7
DSK00005475     7
DSK00004410     7
DSK00005938     7
DSK00005569     7
DSK00006004     7
DSK00005678     7
               ..
DSK00005325     1
DSK00006328     1
DSK00002652     1
DSK00004981     1
DSK00004872     1
DSK00005670     1
DSK00003158     1
DSK00006340     1
DSK00003543     1
DSK00003549     1
DSK00002411     1
DSK00001684     1
DSK00001524     1
DSK00003735     1
DSK00003661     1
DSK00004136     1
DSK00003390     1
DSK00003886     1
DSK00001595     1
DSK00006484     1
DSK00004468     1
DSK00001862     1
DSK00001362     1
DSK00002791     1
DSK00002231     1
DSK00001597     1
DSK00002290     1
DSK00005762     1
DSK00004418     1
DSK00002757     1
Name: desk_id, Length: 3992, dtype: int64

In [35]:
train['office_id'].value_counts()

OFF00001002    6458
OFF00001001    2908
Name: office_id, dtype: int64

In [36]:
train['pf_category'].value_counts()

C    5260
A    2424
B    1211
D     469
E       2
Name: pf_category, dtype: int64

In [37]:
train['country_code'].value_counts()

M    5307
T    2955
N     562
Z     481
U      61
Name: country_code, dtype: int64

In [38]:
train['currency'].value_counts()

CHF    5307
USD    2955
GBP     562
EUR     481
JPY      61
Name: currency, dtype: int64

In [39]:
train['type'].value_counts()

E    5734
A    2316
B     638
C     562
F      61
D      47
H       7
G       1
Name: type, dtype: int64

In [40]:
train['indicator_code'].value_counts()

True    3667
Name: indicator_code, dtype: int64

In [41]:
train['hedge_value'].value_counts()

False    2437
True     1228
Name: hedge_value, dtype: int64

In [42]:
train['status'].value_counts()

True    6282
Name: status, dtype: int64

In [43]:
train_copy=train.copy()

In [44]:
sd=list(train['start_date'])
for i in range(len(sd)):
    sd[i]=str(sd[i])

In [45]:
train['start_date']=pd.to_datetime(sd, format='%Y-%m-%d')

In [46]:
train['start_date']

0      2004-07-20
1      2004-07-09
2      2004-07-23
3      2004-06-09
4      2004-06-09
5      2004-07-07
6      2004-07-06
7      2004-07-06
8      2004-04-19
9      2004-04-14
10     2004-06-11
11     2004-08-05
12     2004-08-05
13     2004-08-09
14     2004-05-11
15     2004-08-10
16     2004-08-10
17     2004-08-11
18     2004-07-20
19     2004-08-12
20     2004-08-12
21     2004-08-25
22     2004-09-06
23     2004-09-07
24     2004-09-09
25     2004-09-09
26     2004-09-09
27     2004-09-10
28     2004-09-10
29     2004-09-13
          ...
9336   2015-10-26
9337   2015-12-11
9338   2015-12-11
9339   2016-05-26
9340   2016-06-01
9341   2016-05-27
9342   2016-05-27
9343   2016-06-14
9344   2016-06-16
9345   2016-06-22
9346   2016-06-22
9347   2016-06-20
9348   2016-06-20
9349   2016-06-20
9350   2016-06-21
9351   2016-06-21
9352   2016-06-21
9353   2016-06-21
9354   2016-06-23
9355   2016-06-23
9356   2016-06-23
9357   2016-06-23
9358   2016-06-23
9359   2016-06-23
9360   2016-06-24
9361   2016-06-24
9362   2016-06-24
9363   2016-06-28
9364   2016-06-28
9365   2016-06-28
Name: start_date, Length: 9366, dtype: datetime64[ns]

In [47]:
cd=list(train['creation_date'])
for i in range(len(cd)):
    cd[i]=str(cd[i])

In [48]:
train['creation_date']=pd.to_datetime(cd, format='%Y-%m-%d')

In [49]:
train['creation_date']

0      2004-07-20
1      2004-07-23
2      2004-07-23
3      2004-07-23
4      2004-07-23
5      2004-07-26
6      2004-07-26
7      2004-07-26
8      2004-07-26
9      2004-07-27
10     2004-08-04
11     2004-08-05
12     2004-08-05
13     2004-08-09
14     2004-08-10
15     2004-08-10
16     2004-08-10
17     2004-08-11
18     2004-08-11
19     2004-08-12
20     2004-08-12
21     2004-08-25
22     2004-09-06
23     2004-09-07
24     2004-09-09
25     2004-09-09
26     2004-09-09
27     2004-09-10
28     2004-09-10
29     2004-09-13
          ...
9336   2015-10-22
9337   2015-12-10
9338   2015-12-10
9339   2016-05-26
9340   2016-05-27
9341   2016-05-27
9342   2016-05-27
9343   2016-06-14
9344   2016-06-15
9345   2016-06-20
9346   2016-06-20
9347   2016-06-20
9348   2016-06-20
9349   2016-06-20
9350   2016-06-21
9351   2016-06-21
9352   2016-06-21
9353   2016-06-21
9354   2016-06-21
9355   2016-06-21
9356   2016-06-23
9357   2016-06-23
9358   2016-06-23
9359   2016-06-23
9360   2016-06-24
9361   2016-06-24
9362   2016-06-24
9363   2016-06-28
9364   2016-06-28
9365   2016-06-28
Name: creation_date, Length: 9366, dtype: datetime64[ns]

In [50]:
seld=list(train['sell_date'])
for i in range(len(seld)):
    seld[i]=str(seld[i])

In [51]:
train['sell_date']=pd.to_datetime(seld, format='%Y-%m-%d')

In [52]:
train['sell_date']

0      2004-08-12
1      2004-08-12
2      2004-08-17
3      2004-07-13
4      2004-07-13
5      2004-08-10
6      2004-08-09
7      2004-08-09
8      2004-07-20
9      2004-07-13
10     2004-07-16
11     2004-09-08
12     2004-09-08
13     2004-09-09
14     2004-08-12
15     2004-09-13
16     2004-09-13
17     2004-09-14
18     2004-08-27
19     2004-09-15
20     2004-09-15
21     2004-09-29
22     2004-10-08
23     2004-10-11
24     2004-12-14
25     2004-10-13
26     2004-10-13
27     2004-10-14
28     2004-10-14
29     2004-10-15
          ...
9336   2015-11-26
9337   2016-03-14
9338   2016-01-14
9339   2016-08-24
9340   2016-06-08
9341   2016-06-27
9342   2016-06-03
9343   2016-06-21
9344   2016-07-18
9345   2016-06-29
9346   2016-08-22
9347   2016-08-19
9348   2016-06-27
9349   2016-06-27
9350   2016-09-21
9351   2016-06-28
9352   2016-06-28
9353   2016-06-28
9354   2016-09-23
9355   2016-07-25
9356   2016-06-30
9357   2016-06-30
9358   2016-06-30
9359   2016-06-24
9360   2016-06-27
9361   2016-06-27
9362   2016-07-01
9363   2016-07-05
9364   2016-07-05
9365   2016-07-05
Name: sell_date, Length: 9366, dtype: datetime64[ns]

In [53]:
profit=train['sold']-train['bought']

In [54]:
profit

0       1.903367e+05
1       6.625633e+05
2       9.446704e+04
3       3.041586e+05
4       2.598431e+05
5       8.973456e+04
6       1.116897e+05
7       2.473659e+05
8       4.228440e+05
9       1.062003e+06
10      1.381767e+05
11      2.322108e+05
12      9.514934e+04
13      1.060202e+05
14      4.219811e+05
15      1.120278e+06
16      1.622071e+05
17      2.220035e+05
18      9.887280e+04
19      7.626794e+04
20      1.240866e+05
21      8.511529e+04
22      2.322108e+05
23      1.644320e+05
24      8.601240e+05
25      6.972760e+05
26      1.522694e+05
27      6.716984e+04
28      1.272782e+05
29      1.181143e+05
            ...
9336    6.630356e+02
9337    1.523590e+04
9338    9.472018e+02
9339    1.174800e+05
9340    1.343682e+04
9341    1.894444e+04
9342    1.207841e+04
9343    1.004369e+04
9344    3.831644e+04
9345    1.177065e+04
9346   -1.305032e+04
9347    1.100000e+05
9348    1.377338e+03
9349    4.693150e+03
9350   -2.070200e+04
9351    1.001000e+04
9352    8.630737e+03
9353    6.251438e+03
9354   -2.796579e+04
9355   -4.547273e+03
9356    5.783663e+03
9357    6.799100e+03
9358    1.608337e+03
9359    3.847433e+02
9360    4.798200e+03
9361    6.699000e+02
9362    8.020833e+03
9363    1.069444e+04
9364    3.208333e+03
9365    8.707417e+03
Length: 9366, dtype: float64

In [55]:
train.head()

,portfolio_id,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,creation_date,indicator_code,sell_date,type,hedge_value,status,return
0,PF00001002,DSK00001001,OFF00001002,B,2004-07-20,110000000.0,T,0.02074,USD,2.332216,1.098097e+08,2004-07-20,NaN,2004-08-12,B,NaN,NaN,0.02496
1,PF00001003,DSK00001002,OFF00001001,A,2004-07-09,176671000.0,N,0.02074,GBP,5.269617,1.760084e+08,2004-07-23,NaN,2004-08-12,C,NaN,NaN,0.05496
2,PF00001005,DSK00001004,OFF00001001,A,2004-07-23,56474000.0,T,0.02074,USD,2.332216,5.637953e+07,2004-07-23,NaN,2004-08-17,A,NaN,NaN,0.02496
3,PF00001006,DSK00001005,OFF00001001,A,2004-06-09,164813000.0,T,0.02074,USD,2.332216,1.645088e+08,2004-07-23,NaN,2004-07-13,A,NaN,NaN,0.02496
4,PF00001007,DSK00001005,OFF00001002,B,2004-06-09,140800000.0,T,0.02074,USD,2.332216,1.405402e+08,2004-07-23,NaN,2004-07-13,B,NaN,NaN,0.02496

In [56]:
from sklearn import preprocessing
p_id = preprocessing.LabelEncoder()
p_id.fit(train['portfolio_id'])
a=p_id.transform(train['portfolio_id'])
a

array([   0,    1,    2, ..., 8416, 8417, 8418])

In [57]:
b=p_id.inverse_transform(a)

In [58]:
b

array(['PF00001002', 'PF00001003', 'PF00001005', ..., 'PF00014145',
       'PF00014146', 'PF00014148'], dtype=object)

In [61]:
train['desk_id']=train['desk_id'].fillna('no_desk_id')

In [66]:
train['desk_id'].value_counts()

no_desk_id     3665
DSK00006011      10
DSK00005869      10
DSK00005718       9
DSK00005895       9
DSK00005754       9
DSK00005724       9
DSK00005951       9
DSK00005727       8
DSK00005789       8
DSK00005905       8
DSK00006030       8
DSK00005468       7
DSK00005943       7
DSK00005475       7
DSK00005637       7
DSK00005715       7
DSK00005975       7
DSK00005803       7
DSK00005568       7
DSK00005900       7
DSK00005739       7
DSK00005810       7
DSK00005469       7
DSK00006026       7
DSK00005733       7
DSK00004410       7
DSK00005938       7
DSK00005569       7
DSK00006004       7
               ...
DSK00005325       1
DSK00006328       1
DSK00002652       1
DSK00004981       1
DSK00004872       1
DSK00005670       1
DSK00003158       1
DSK00006340       1
DSK00003543       1
DSK00003549       1
DSK00002411       1
DSK00001684       1
DSK00001524       1
DSK00003735       1
DSK00003661       1
DSK00004136       1
DSK00003390       1
DSK00003886       1
DSK00001595       1
DSK00006484       1
DSK00004468       1
DSK00001862       1
DSK00001362       1
DSK00002791       1
DSK00002231       1
DSK00001597       1
DSK00002290       1
DSK00005762       1
DSK00004418       1
DSK00002757       1
Name: desk_id, Length: 3993, dtype: int64